body * {
    -webkit-transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    transition: all ease-in .3s;
}
.book-thumb {
    height: 130px;
}
.book-controls {
    position: absolute;
    font-size: 18px;
    top: 8px;
    right: 40px;
    opacity: 0;
}
.book-container:hover .book-controls, .book-controls:hover {
    right: 20px;
    opacity: 1;
}
.book-show {
    color: #bce8f1;
}
.book-remove {
    color: #d9534f;
}
.book-remove:hover {
    color: #974542;
}
.add-book {
    font-size: 30px;
    color: #5cb85c;
    display: block;
    height: 100%;
    width: 100%;
}
.add-book span {
    margin-top: 25px;
}
.remove-book {
    position: absolute;
    font-size: 18px;
    top: 2px;
    right: 20px;
}
