{% extends "MindkLibraryBundle::base.html.twig" %}

{% block title %}{{ 'Whoops!'|trans }}{% endblock title %}

{% block content %}
    <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
            <div class="well well-lg book-container">
                {{ 'Whoops! Something went wrong'|trans }}
            </div>
        </div>
    </div>
{% endblock content %}
