{% if form.publishingHouseName|length %}
    {% set formClass = (is_modal) ? 'ajax-form' : '' %}
    {% set selectedPublishing = form.publishingHouseName.vars.data %}

    {{ form_start(form, { style: 'horizontal', attr: { novalidate: 'novalidate', 'data-container': '#modal', class: formClass } }) }}
        {{ form_row(form.publishingHouseName) }}
        {{ form_row(form.name) }}
        {{ form_row(form.author) }}
        {{ form_row(form.year) }}

        {% for publishingHouse in form.publishingHouseName %}
            {% set publishingHouseName = publishingHouse.vars.value %}
            {% set blockState = (publishingHouseName == selectedPublishing) ? 'block' : 'none' %}

            <div class="extra-data-container" id="{{ publishingHouseName ~ 'container' }}" style="display: {{ blockState }}">
                {% for field in form[publishingHouseName] %}
                    {{ form_row(field) }}
                {% endfor %}
            </div>
        {% endfor %}

        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                {{ form_widget(form.submit) }}
                <a {% if is_modal %}data-dismiss="modal"{% endif %} href="{{ path('mindk_library_homepage') }}">{{ 'Cancel'|trans }}</a>
            </div>
        </div>

        {{ form_rest(form) }}
    {{ form_end(form) }}
{% else %}
    {{ 'There is no registered publishing houses.'|trans }}
{% endif %}
