{% set formClass = (is_modal) ? 'ajax-form' : '' %}

{{ form_start(form, { attr: { 'data-container': '#modal', class: formClass } }) }}
    {{ form_errors(form) }}
    {{ form_row(form.submit) }}
    <a href="{{ path('mindk_library_homepage') }}" data-dismiss="modal">{{ 'Cancel'|trans }}</a>

    {{ form_rest(form) }}
{{ form_end(form) }}
