{% if additional %}
<dl class="dl-horizontal">
    <dt>{{ 'Author'|trans }}</dt>
    <dd>{{ book.author }}</dd>

    <dt>{{ 'Name'|trans }}</dt>
    <dd>{{ book.name }}</dd>

    <dt>{{ 'Year'|trans }}</dt>
    <dd>{{ book.year }}</dd>

    {{ additional|raw }}
</dl>
{% else %}
    <p>{{ 'Unable to find publishing info.'|trans }}</p>
{% endif %}
