<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="myModalLabel">{{ 'Add a book'|trans }}</h4>
        </div>
        <div class="modal-body">
            {% include "MindkLibraryBundle:Default:_create_form.html.twig" with { form: form, book: book, is_modal: true } %}
        </div>
    </div>
</div>