{% extends "MindkLibraryBundle::base.html.twig" %}

{% block title %}{{ 'Add book'|trans }}{% endblock title %}

{% block content %}
    <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
            <div class="well well-lg">
                {% include "MindkLibraryBundle:Default:_create_form.html.twig" with { form: form, book: book, is_modal: false } %}
            </div>
        </div>
    </div>
{% endblock content %}
