{% extends "MindkLibraryBundle::base.html.twig" %}

{% block title %}{{ 'Delete confirmation'|trans }}{% endblock title %}

{% block content %}
    <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
            <div class="well well-lg">
                <p>{{ 'Are you sure you want to delete this book?'|trans }}</p>
                {% include "MindkLibraryBundle:Default:_delete_form.html.twig" with { form: delete_form, is_modal: false } %}
            </div>
        </div>
    </div>
{% endblock content %}
