<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="myModalLabel">{{ 'Delete confirmation'|trans }}</h4>
        </div>
        <div class="modal-body">
            <p>{{ 'Are you sure you want to delete this book?'|trans }}</p>
        </div>
        <div class="modal-footer">
            {% include "MindkLibraryBundle:Default:_delete_form.html.twig" with { form: delete_form, is_modal: true } %}
        </div>
    </div>
</div>
