{% extends "MindkLibraryBundle::base.html.twig" %}

{% block title %}{{ 'Books list'|trans }}{% endblock title %}

{% block content %}
    <div class="row">
        {% for key, book in books %}
            <div class="col-sm-4 book-container">
                <div class="well book-thumb">
                    <p>{{ icon('user') }} {{ book.author }}</p>
                    <p>{{ icon('pencil') }} {{ book.name }}</p>
                    <p>{{ icon('calendar') }} {{ book.year }}</p>
                </div>

                <div class="book-controls">
                    <ul class="list-inline">
                        <li>
                            <a class="book-show" href="{{ path('mindk_library_show', { 'id': book.id }) }}" data-toggle="modal" data-target="#modal">
                                {{ icon('eye-open') }}
                            </a>
                        </li>
                        <li>
                            <a class="book-remove" href="{{ path('mindk_library_delete', { 'id': book.id }) }}" data-toggle="modal" data-target="#modal">
                                {{ icon('remove-sign') }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endfor %}

        <div class="col-sm-4 text-center">
            <div class="well book-thumb">
                <a class="add-book" data-toggle="modal" data-target="#modal" href="{{ path('mindk_library_create') }}">
                    {{ icon('plus-sign') }}
                </a>
            </div>
        </div>
    </div>
{% endblock content %}
