<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="myModalLabel">{{ book.name }}</h4>
        </div>
        <div class="modal-body">
            {% include "MindkLibraryBundle:Default:_show.html.twig" with { book: book } %}
        </div>
        <div class="modal-footer">
            {% include "MindkLibraryBundle:Default:_delete_form.html.twig" with { form: delete_form, is_modal: true } %}
        </div>
    </div>
</div>