{% extends "MindkLibraryBundle::base.html.twig" %}

{% block title %}{{ book.name }}{% endblock title %}

{% block content %}
    <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
            <div class="well well-lg book-container">
                {% include "MindkLibraryBundle:Default:_show.html.twig" with { book: book } %}

                <div class="book-controls">
                    <ul class="list-inline">
                        <li>
                            <a class="book-show" href="{{ path('mindk_library_homepage') }}">
                                {{ icon('eye-close') }}
                            </a>
                        </li>
                        <li>
                            <a class="book-remove" href="{{ path('mindk_library_delete', { 'id': book.id }) }}" data-toggle="modal" data-target="#modal">
                                {{ icon('remove-sign') }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
